@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --main-color: #0227fa;
  --black: #000000;
  --bg: #4b4e4b;
  --border: 0.3rem solid rgba(255, 255, 255, 0.3);
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  background: #fff;
}
.header {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: var(--border);
  z-index: 10000;
}
.header .logo {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  font-size: 3em;
  border: 4px solid rgba(255, 255, 255, 0.25);
  border-radius: 25px;
}

.menu {
  position: relative;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu li {
  position: absolute;
  left: 0;
  list-style: none;
  transform-origin: 60px;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(35px);
}

.menu.active li {
  transform: rotate(calc(360deg / 8 * var(--i)));
}
.menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 100%;
  transform: rotate(calc(360deg / -8 * var(--i)));
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  color: #111;
  transition: 0.5s;
}
.menu li a:hover {
  color: #0227fa;
}
.toggle {
  position: sticky;
  width: 60px;
  height: 60px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  font-size: 2em;
  transition: transform 1.25s;
}
.menu.active .toggle {
  transform: rotate(360deg);
}

.toggle:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: linear-gradient(315deg, #ffffff, #0227fa);
  animation: animate 4s linear infinite;
}
/* @keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
.toggle:after {
  content: "";
  position: absolute;
  inset: 6px;
  border-radius: 25px;
  z-index: 2;
}

section div {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
section div:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #094b65, transparent);
  z-index: 1000;
}
section div img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
#rock1 {
  top: 75%;
  left: 0;
  width: auto;
  height: auto;
}
#rock2 {
  top: 75%;
  right: 0%;
  width: auto;
  height: auto;
}

#water {
  top: 10%;
  width: 100%;
  height: 100%;
}

#bird1 {
  top: 10%;
  left: 0;
}

#bird2 {
  top: 10%;
  right: 0%;
}

#text {
  position: absolute;
  transform: translateY(-50%);
  color: #111;
  white-space: nowrap;
  font-size: 10vw;
  text-align: center;
  line-height: 0.55em;
  color: #094b65;
  font-family: "Rancho", cursive;
}
#text span {
  font-size: 0.2em;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  border: 3px solid;
  background: #094b65;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  transform: translateY(100px);
}
.sec {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #121212, #094b65);
}

.sec p {
  font-size: 1.2em;
  color: #fff;
}

.sec h2 {
  font-size: 3em;
  color: #fff;
}

.about {
  position: relative;
  display: flex-start;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  margin-top: 5rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  z-index: 1;
  overflow: hidden;
}

.about:before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  transform: skewX(-15deg);
  pointer-events: none;
}

.about .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.about .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 20px;
  transition: 0.5s;
}

.about .row100 .col p {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.box {
  position: relative;
  width: 300px;
  height: 450px;
  margin: 2px 2px;
  overflow: hidden;
}
.box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: transparent;
  border-radius: 50%;
  z-index: 1;
}
.box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 6px solid transparent;
  border-bottom: 6px solid #000;
}
.box .circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: #094b65;
  overflow: hidden;
  border-radius: 50%;
  border: 6px solid #000;
}
.box .circle img,
.box img {
  position: relative;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 350px;
}
.contact {
  position: relative;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  margin: 5rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  z-index: 1;
  overflow: hidden;
}

.contact:before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  transform: skewX(-15deg);
  pointer-events: none;
}
h2 {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}
.contact .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.contact .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 20px;
  transition: 0.5s;
}

.contact .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #fff;
}
.contact .row100 .inputBox input,
.contact .row100 .inputBox textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}
.contact .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}
.contact .row100 .inputBox input:focus + .text,
.contact .row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}
.contact .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
.contact .row100 .inputBox input:focus ~ .line,
.contact .row100 .inputBox input:valid ~ .line {
  height: 100%;
}

.contact .row100 .inputBox.textarea,
.about .row100 .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
.contact .row100 .inputBox textarea {
  height: 100%;
  resize: none;
}
.contact .row100 .inputBox textarea:focus ~ .line,
.contact .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}
.contact .row100 .inputBox textarea:focus + .text,
.contact .row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}
input[type="submit"] {
  border: var(--black);
  padding: 10px 40px;
  cursor: pointer;
  outline: none;
  background: #fff;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  border-radius: 30px;
}

footer {
  position: relative;
  width: 100%;
  padding: 10px 15px;
  background-color: #121212;
  /* background-color: rgba(0, 0, 0, 0.3); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social,
.link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.social li,
.link li {
  list-style: none;
}
.social li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social li a:hover {
  transform: translateY(-10px);
}

.link li a {
  font-size: 1.2em;
  color: #fff;
  opacity: 0.75;
  margin: 0 15px;
  text-decoration: none;
  display: inline-block;
}
.link li a:hover {
  opacity: 1;
}
footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  font-size: 1.1em;
}

@media (max-width: 768px) {
  .header .logo {
    font-size: 2.5em;
  }
  .contact {
    padding: 20px;
  }
  .about {
    padding: 20px;
  }
  .sec {
    padding: 3rem;
  }
  .sec h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #fff;
  }
  .sec p,
  .sec span {
    font-size: 1.2em;
    color: #fff;
  }
  .box {
    width: 200px;
    height: 250px;
  }
  .box .circle {
    width: 200px;
    height: 200px;
  }
  .box::before {
    width: 200px;
    height: 200px;
  }
  .box::after {
    width: 200px;
    height: 200px;
  }
  .box .circle img,
  .box img {
    width: 200px;
    height: 200px;
  }
  #rock1 {
    visibility: hidden;
  }
  #rock2 {
    visibility: hidden;
  }

  #water {
    top: 15%;
    width: 100%;
    height: 100%;
  }

  #bird1 {
    visibility: hidden;
  }
  #bird2 {
    visibility: hidden;
  }
  #text {
    font-size: 14vw;
    line-height: 0.7em;
  }
  #text span {
    font-size: 0.5em;
    letter-spacing: 2px;
  }
  #btn {
    padding: 4px 15px;
    font-size: 1.6em;
  }
}
